body {
    position: relative;
    width: 100%;
    height: 100%;
    
    padding: 0px;
    margin: 0px;
    
    display: flex;
    flex-direction: column;
    
    gap: 0px;
    
    background-color: #d3cfcf;
}

main {
    margin: 8px 0px;
}
header {
    display: flex;
    padding: 10px;
    background-color: white;
    height: 80px;
}
header > img {
    height: 80px;
    width: auto;
}
#menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#menu > a {
    width: 100%;
    padding: 8px;
    background-color: gray;
    text-align: center;
    text-transform: uppercase;
    color: #2c2c2c;
}
#menu > a:hover {
    background-color: #afafaf;
    
}

#items {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    gap: 10px;
}
item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 200x;
    height: 250px;
    background-color: white;
    padding: 10px;
    border: solid;
    border-width: thin;
    border-color: #bfbfbf;
    overflow: hidden;
}

#item-picture {
    width: 200px;
    height: 200px;
    position: relative;
}

item-card > .options > button {
    background-color: lightgray;
    color: #242424;
    border-radius: 0;
    border: none;
    padding: 5px;
    cursor: pointer;
}

item-card > .options > button:hover {
    background-color: #e2e2e2;
}